.os2edu-dropdown {
  position: relative;
  line-height: 32px;
}

.os2edu-dropdown .dropdown-trigger {
  gap: 8px;
}

.os2edu-dropdown .dropdown-trigger .dropdown-trigger-icon svg {
  cursor: pointer;
  margin-left: 2px;
  transform: scale(1.4);
  transition: all 0.1s ease 0s;
  font-size: 20px;
}

.os2edu-dropdown .dropdown-trigger .dropdown-trigger-icon svg:hover {
  color: #1890ff;
}

.os2edu-dropdown-open .dropdown-trigger .dropdown-trigger-icon svg {
  transition: all 0.1s ease 0s;
  transform: rotate(180deg) scale(1.4);
}

.os2edu-dropdown .dropdown-menu {
  position: absolute;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  width: fit-content;
  padding: 0;
  opacity: 0;
  min-width: 110px;
  transition: all 0.3s ease 0s;
}

.os2edu-dropdown-open .dropdown-menu {
  border-color: #e8e8e8;
  transition: all 0.3s ease 0s;
  height: fit-content;
  margin-top: 10px;
  padding: 10px 0;
  opacity: 1;
}

.os2edu-dropdown-open .dropdown-menu::before {
  content: '';
  width: 0; 
  height: 0; 
  position: absolute;
  top: -8px;
  right: 12px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #e8e8e8;
}
.os2edu-dropdown-open .dropdown-menu::after {
  content: '';
  width: 0; 
  height: 0; 
  position: absolute;
  top: -7px;
  right: 12px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;

}

.os2edu-dropdown .dropdown-menu > span {
  height: 36px;
  line-height: 36px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #e8e8e8;
  padding: 0 20px;
  font-size: 14px;
  cursor: pointer;
}

.os2edu-dropdown .dropdown-menu > span:hover {
  background: #e6f7ff;
  color: #1890ff;
}

.os2edu-dropdown .dropdown-menu > span:nth-child(1) {
  border-top: none;
}
